// Core variables and mixins
@import "variables.less";
@import "mixins.less";

body {
    //font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}


@pageWidth:1180px;
@primaryWidth : 720px;
@sidebarWidth : 340px;
@extraWidth : 120px;

@colorTeal : #00B5AD;
@colorRed : #D95C5C;
@colorSkyBlue : #6ECFF5;
@colorBlue : #009BFF;
@colorPurple : #564F8A;
@colorGray : #CCC;
@colorWhite : #FFF;
@colorOrange : #F05940;
@colorGreen : #00A53C;


body {
    padding-top: 50px;
}
.slider {
    height:420px;
    background:url(banner.png);

    .jumbotron {
        background:none;
        padding-left:0;
        padding-right:0;
        padding-top:80px;
        h1 {
            font-size:50px;
        }

        h1, p {
            color:#FFF;
            padding:5px;
            background-color:#547D31;
            .opacity(0.9);
        }
    }
}

.slider-inner  {
    padding:20px;
}

.banner-chart-wrapper {
    margin-top:30px;
    padding:10px;
    background:#FFF;
    border-radius : 10px;
    .box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));

}
